dwm.normbgcolor:#191724
dwm.normbordercolor:#1f1d2e
dwm.normfgcolor:#e0def4
dwm.selbgcolor:##1f1d2e
dwm.selbordercolor:#eb6f92
dwm.selfgcolor:#ffffff
dwm.borderpx:2
dwm.snap:32
dwm.showbar:1
dwm.topbar:1
dwm.nmaster:1
dwm.resizehints:1
dwm.mfact:0.55
